<div class="container">
  <h1 class="title" id="title">Control Panel</h1>
  <div class="button-container">
    <a href="/admin/users-awaiting-approval" class="dashboard-btn"
      ><p>Approve Users</p></a
    >
    <a href="/admin/flagged-questions" class="dashboard-btn"
      ><p>Review Flags</p></a
    >
  </div>
</div>
