<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">Administrator <br />Control Panel</h1>
    <div class="columns is-multiline">
      <div class="column is-4">
        <div class="box">
          <p class="control-title">Approve Users</p>
          <a href="/admin/users-awaiting-approval"
            ><button class="control-button">Access</button></a
          >
        </div>
      </div>
      <div class="column is-4">
        <div class="box">
          <p class="control-title">Review Flagged Questions</p>
          <a href="/admin/flagged-questions"
            ><button class="control-button">Access</button></a
          >
        </div>
      </div>
      <div class="column is-4">
        <div class="box">
          <p class="control-title">Edit/Delete Questions</p>
          <a href="/modify-questions"
            ><button class="control-button">Access</button></a
          >
        </div>
      </div>
      <div class="column is-4">
        <div class="box">
          <p class="control-title">Add Category</p>
          <form action="/admin/add-category" method="POST">
            <div class="field">
              <label class="label">Category Name:</label>
              <div class="control">
                <input class="input" type="text" name="categoryName" required />
              </div>
            </div>
            <div class="field">
              <label class="label">Category Value:</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  name="categoryValue"
                  required
                />
              </div>
            </div>
            <button type="submit" class="control-button">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
