
  <div class="content has-text-centered">
    <p>
      <strong class="brand">Upgrade Me </strong> by
      <a href="https://andrewfbutler.com">Andrew Butler</a> | &copy 2023
      <p>The source code is
      licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.</p>
    </p>
  </div>

