<footer> 
  <p class="is-size-6.5 has-text-centered footer-text"><strong>FlightPath Advancement</strong></p> 
    <p class="is-size-6.5 has-text-centered footer-text" style="margin-bottom: 10px;">by Andrew Butler | &copy 2023 </p>
</footer>
</body>
</html>
