
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 class="is-size-4 has-text-weight-bold" style="color: #000;">Upgrade Me</h1>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Options</a>
        <div class="navbar-dropdown">
          <h3 class="navbar-item">Misc Items</h3>
            <ul>
              <li><a href="/documents" class="navbar-item">Document Repository</a></li>
              <li><a href="/discussions" class="navbar-item">Discussion Board</a></li>
              <li><a href="/rvr" class="navbar-item">RVR Exercise</a></li>
              <li><a class="navbar-item" href="/weather">Weather Planning</a></li>
              <li><a class="navbar-item" href="/fuel">Fuel Planning</a></li>
            </ul>
              <h3 class="navbar-item">Briefings</h3>
              <ul>
              <li><a class="navbar-item" href="/briefings">Briefing Examples</a></li>
              </ul>
              <hr class="navbar-divider">
              <h3 class="navbar-item">Flows</h3>
              <ul>
              <li><a class="navbar-item" href="/flows">All Captain Flows</a></li>
              </ul>
              <hr class="navbar-divider">
              <h3 class="navbar-item">Notes</h3>
              <ul>
                <li><a class="navbar-item" href="/notes/create">New Note</a></li>
                <li><a class="navbar-item" href="/notes/view-notes">View Notes</a></li>
              </ul>
              <hr class="navbar-divider">
              <h3 class="navbar-item">Questions</h3>
              <ul>
                <li><a class="navbar-item" href="/questions/create">Add Questions</a></li>
                <li><a class="navbar-item" href="/view-questions">View All Questions</a></li>
              </ul>
              <ul>
                <li><a class="navbar-item" href="/quiz">FLASHCARDS</a></li>
              </ul>
              
              
              <hr class="navbar-divider">
                            
            </div>

          </div>
          
          
        </div>
    
        <div class="navbar-end is-flex is-flex-direction-column is-align-items-flex-end">
          <div class="navbar-item">
            <% if (!currentUser) { %>
              <a class="button is-primary" id="register-btn" href="/register">
                <strong>Sign up</strong>
              </a>
              <a class="button is-primary" id="login-btn" href="/login">
                <strong>Login</strong>
              </a>
            <% } else { %>
              <div class="is-flex is-align-items-center">
                <span style="padding-right: 10px; font-size: 1rem; color: #009EE2;">Hi, <%= currentUser.firstname %>!</span>
                <% if (currentUser.isAdmin) { %>
                  <a class="button is-rounded is-primary" href="/admin/dashboard">
                    <strong>Admin Console</strong>
                  </a>
                <% } %>
                <a class="button is-rounded is-primary" href="/logout">
                  <strong>Logout</strong>
                </a>
              </div>
            <% } %>
            </div>
          </div>
        </div>
      </div>
    </nav>

   
