<section class="section" style="min-height: calc(100vh - (2 * 60px))">
  <div class="container">
    <h1 class="title is-1 has-text-centered" style="font-size: 1.8rem">
      Registration Successful
    </h1>

    <div class="box">
      <p class="has-text-centered">
        Your account is awaiting approval. You will be notified once your
        account has been approved.
      </p>
    </div>

    <p class="has-text-center">
      <a href="/login" class="button">Return to the login page</a>
    </p>
  </div>
</section>
