<%- include('./partials/header', {title: 'Briefing Guides', style:
'../css/briefings.css'}) %>

<div id="card-container" class="columns is-desktop"></div>
<%- include('./partials/footer') %>
<script type="module" src="../js/briefings.js"></script>
