<div class="columns is-centered">
  <div class="column">
    <h1 class="title">Edit Note</h1>
    <form action="/notes/edit/<%= note._id %>" method="POST">
      <div class="field">
        <label class="label" for="title">Title:</label>
        <div class="control">
          <input
            class="input"
            type="text"
            id="title"
            name="title"
            value="<%= note.title %>"
            required
          />
        </div>
      </div>

      <div class="field">
        <label class="label" for="content">Content:</label>
        <div class="control">
          <div id="quill-editor"></div>
          <input type="hidden" id="content" name="content" required />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button id="save-note-btn" class="button" type="submit">
            Save Note
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  const quill = new Quill("#quill-editor", {
    theme: "snow",
  });

  // Load the note's content in HTML format
  const noteHTMLContent = "<%- note.content %>";
  quill.clipboard.dangerouslyPasteHTML(noteHTMLContent);

  const form = document.querySelector("form");
  const contentInput = document.querySelector("#content");

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    contentInput.value = quill.root.innerHTML;
    form.submit();
  });
</script>
