<%- include('../partials/header') %>

<h1>Access Denied</h1>
<p>You do not have permission to access this page.</p>
<p>
  Only administrators are allowed to access this page. If you believe this is an
  error, please contact the site administrator.
</p>
<%- include('../partials/footer') %>
