<section class="section">
  <div class="container">
    <div class="dark-mode-toggle">
      <label for="darkModeSwitch" id="darkModeLabel">Dark Mode:</label>
      <div class="switch">
        <input type="checkbox" id="darkModeSwitch" class="checkbox" />
        <label for="darkModeSwitch" class="label"></label>
      </div>
    </div>

    <div
      class="columns is-multiline is-variable is-1-mobile is-0-tablet is-3-desktop"
    >
      <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
        <article class="tile is-child box">
          <p class="title">Originating Flow</p>

          <hr />
          <h5 class="list-item">MCDU<span class="right-side">SET</span></h5>
          <ul class="item-list">
            <li class="item-to-check">Electronic CBs - Checked</li>
            <li class="item-to-check">NAV IDENT - Verify</li>
            <li class="item-to-check">
              POS INIT - Initialize Position in MCDU (if needed)
            </li>
          </ul>
          <h5 class="list-item">
            DVDR CONTROL PANEL<span class="right-side">TESTED</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              Press TEST and verify no EICAS messages
            </li>
          </ul>
          <h5 class="list-item">
            ELECTRIC AC POWER<span class="right-side">SET</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              IDG 1 Selector <span class="right-side">AUTO</span>
            </li>
            <li class="item-to-check">
              IDG 2 Selector <span class="right-side">AUTO</span>
            </li>
            <li class="item-to-check">
              GPU <span class="right-side">AS REQUIRED</span>
            </li>
            <p class="small-note">
              When the AVAIL light is illuminated and ground power usage
              appropriate:
            </p>
            <li class="small-note-item">
              GPU <span class="right-side">IN</span>
            </li>

            <li class="item-to-check">
              AC BUS TIES Selector <span class="right-side">AUTO</span>
            </li>
            <li class="item-to-check">
              APU GEN <span class="right-side">IN</span>
            </li>
          </ul>
          <h5 class="list-item">
            ELECTRIC DC POWER<span class="right-side">SET</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              TRU 1 <span class="right-side">AUTO</span>
            </li>
            <li class="item-to-check">
              TRU ESS <span class="right-side">AUTO</span>
            </li>
            <li class="item-to-check">
              TRU 2<span class="right-side">AUTO</span>
            </li>
            <li class="item-to-check">
              BATT 1 Selector<span class="right-side">ON</span>
            </li>
            <li class="item-to-check">
              DC BUS TIES<span class="right-side">AUTO</span>
            </li>
            <li class="item-to-check">
              BATT 2 Selector<span class="right-side">AUTO</span>
            </li>
          </ul>
          <h5 class="list-item">COCKPIT LIGHTS</h5>
          <ul class="item-list">
            <li class="item-to-check">
              MAIN, OVHD & PEDST KNOBS
              <span class="right-side">AS REQUIRED</span>
            </li>
            <li class="item-to-check">
              ANNUNC TEST Btn<span class="right-side">Press</span>
            </li>
            <p class="small-note">
              Pushbutton striped bars and caption indicators<span
                class="right-side"
                >Check</span
              >
            </p>

            <li class="item-to-check">
              DOME <span class="right-side">AS REQUIRED</span>
            </li>
          </ul>
          <h5 class="list-item">FUEL<span class="right-side">CHECKED</span></h5>
          <ul class="item-list">
            <li class="item-to-check">
              XFEED Selector<span class="right-side">OFF</span>
            </li>
            <li class="item-to-check">
              DC PUMP Selector<span class="right-side">AUTO</span>
            </li>
            <li class="item-to-check">
              AC PUMP 1 Selector<span class="right-side">AUTO</span>
            </li>
            <li class="item-to-check">
              AC PUMP 2 Selector<span class="right-side">AUTO</span>
            </li>
          </ul>
          <h5 class="list-item">
            PASSENGER SIGNS<span class="right-side">SET</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              EMER Lt Selector<span class="right-side">Checked</span>
            </li>
            <p
              class="small-note"
              style="margin-left: 40px; list-style-type: square"
            >
              EMER Lt. Selector<span class="right-side">ON</span>
            </p>
            <p class="small-note-item">
              Ensure EMER Lt. ON and EMER LT NOT ARMED EICAS message annunciate
            </p>
            <li class="item-to-check">
              EMER Lt. Selector<span class="right-side">ARMED</span>
            </li>
            <li class="item-to-check">
              STERILE<span class="right-side">OFF</span>
            </li>
            <li class="item-to-check">
              NO SMOKING<span class="right-side">ON</span>
            </li>
            <li class="item-to-check">
              FSTN BELTS<span class="right-side">OFF</span>
            </li>
          </ul>
          <h5 class="list-item">
            FIRE EXTINGUISHER<span class="right-side">CHECKED</span>
          </h5>
          <ul class="item-list">
            <p class="small-note">
              Prior to performing the FIRE panel test, ensure no fire
              destection/extinguishing system messages display on the EICAS.
            </p>
            <p class="small-note">
              -- This test is not required when previously accomplished during
              the SAFETY AND POWER-UP checklist.
            </p>
            <li class="item-to-check">
              #1 & #2 EXTG Handles<span class="right-side">STOWED</span>
            </li>
            <li class="item-to-check">
              CARGO SMOKE FWD/AFT<span class="right-side">GUARDED</span>
            </li>
            <li class="item-to-check">
              APU<span class="right-side">GUARDED</span>
            </li>
            <li class="item-to-check">
              APU CONTROL EMER STOP<span class="right-side">GUARDED</span>
            </li>
            <li class="item-to-check">
              FIRE DET TEST BUTTON<span class="right-side">PRESS AND HOLD</span>
            </li>
            <ul class="item-list">
              <p class="small-note">Observe the following:</p>
              <li class="item-to-check">Aural warning</li>
              <li class="item-to-check">Fire handles illuminated</li>
              <li class="item-to-check">
                CARGO SMOKE FWD/AFT buttons illuminated
              </li>
              <li class="item-to-check">APU button illuminated</li>
              <li class="item-to-check">
                Upper half of the APU emergency stop button illuminated
              </li>
              <li class="item-to-check">WARNING lights flashing</li>
              <li class="item-to-check">
                "CARGO FWD (AFT) SMOKE" EICAS message
              </li>
              <li class="item-to-check">"APU FIRE" EICAS message</li>
              <li class="item-to-check">"ENG 1 (2) FIRE" EICAS message</li>
              <li class="item-to-check">
                "FIRE" warning annunciation displayed inside ITT indicators
              </li>
            </ul>
          </ul>
          <h5 class="list-item">
            APU CONTROL PANEL<span class="right-side">SET</span>
          </h5>
          <h5 class="list-item">
            WINDSHIELD WIPER 1 & 2<span class="right-side">OFF</span>
          </h5>
          <h5 class="list-item">
            EXTERNAL LIGHTS<span class="right-side">AS REQUIRED</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              STROBE<span class="right-side">OFF</span>
            </li>
            <li class="item-to-check">
              RED BCN<span class="right-side">OFF</span>
            </li>
            <li class="item-to-check">
              LOGO<span class="right-side">AS REQUIRED</span>
            </li>
            <ul class="item-list">
              <li class="small-note-item">
                Daytime<span class="right-side">OFF</span>
              </li>
              <li class="small-note-item">
                Nightime<span class="right-side">ON</span>
              </li>
              <p class="small-note-item">
                During sunset to sunrise and during low vis procedures.
              </p>
            </ul>
            <li class="item-to-check">
              TAXI NOSE & SIDE<span class="right-side">OFF</span>
            </li>
            <li class="item-to-check">
              INSP<span class="right-side">OFF</span>
            </li>
            <li class="item-to-check">
              LANDING LEFT/NOSE/RIGHT<span class="right-side">OFF</span>
            </li>
          </ul>
          <h5 class="list-item">
            HYDRAULIC<span class="right-side">CHECKED</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              SYS 1 ENG PUMP SHUTOFF<span class="right-side">GUARDED</span>
            </li>
            <li class="item-to-check">
              PTU Selector<span class="right-side">AUTO</span>
            </li>
            <li class="item-to-check">
              SYS 2 ENG PUMP SHUTOFF<span class="right-side">GUARDED</span>
            </li>
            <li class="item-to-check">
              SYS 1 ELEC PUMP<span class="right-side">AUTO</span>
            </li>
            <li class="item-to-check">
              SYS 2 ELEC PUMP<span class="right-side">AUTO</span>
            </li>
            <li class="item-to-check">
              SYS 3 ELEC PUMP A<span class="right-side">OFF</span>
            </li>
            <li class="item-to-check">
              SYS 3 ELEC PUMP B<span class="right-side">AUTO</span>
            </li>
          </ul>
          <h5 class="list-item">PRESSURIZATION</h5>
          <ul class="item-list">
            <li class="item-to-check">
              CABIN ALT Selector<span class="right-side">STOP</span>
            </li>
            <li class="item-to-check">
              MODE Selector<span class="right-side">AUTO</span>
            </li>
            <li class="item-to-check">
              DUMP<span class="right-side">GUARDED</span>
            </li>
            <li class="item-to-check">
              LFE Selector<span class="right-side">STOP</span>
            </li>
          </ul>
          <h5 class="list-item">
            WINDSHIELD HEATING 1 & 2 <span class="right-side">IN</span>
          </h5>
          <h5 class="list-item">
            ICE PROTECTION<span class="right-side">SET</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              ENGINE 1<span class="right-side">IN</span>
            </li>
            <li class="item-to-check">
              WING<span class="right-side">IN</span>
            </li>
            <li class="item-to-check">
              ENGINE 2<span class="right-side">IN</span>
            </li>
            <li class="item-to-check">
              MODE Selector<span class="right-side">AUTO</span>
            </li>
            <li class="item-to-check">
              TEST Selector<span class="right-side">OFF</span>
            </li>
          </ul>

          <h5 class="list-item">
            AIR COND / PNEUMATIC<span class="right-side">SET</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              CKPT Knob<span class="right-side">AS REQ</span>
            </li>
            <li class="item-to-check">IN<span class="right-side">IN</span></li>
            <li class="item-to-check">
              PAX CABIN Knob<span class="right-side">AS REQ</span>
            </li>
            <li class="item-to-check">
              PACK 1<span class="right-side">IN</span>
            </li>
            <li class="item-to-check">
              PACK 2<span class="right-side">IN</span>
            </li>
            <li class="item-to-check">
              XBLEED<span class="right-side">IN</span>
            </li>
            <li class="item-to-check">
              BLEED 1<span class="right-side">IN</span>
            </li>
            <li class="item-to-check">
              APU BLEED<span class="right-side">IN</span>
            </li>
            <li class="item-to-check">
              BLEED 2<span class="right-side">IN</span>
            </li>
          </ul>

          <h5 class="list-item">
            PASSENGER OXYGEN<span class="right-side">SET</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              MASK DEPLOY Selector<span class="right-side">AUTO</span>
            </li>
            <li class="item-to-check">
              MASK DEPLOYED<span class="right-side">NO LIGHT</span>
            </li>
          </ul>
          <h5 class="list-item">
            Standby Compass<span class="right-side">CHECKED</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              Verify level and full of fluid, both compass cards are present.
            </li>
            <li class="item-to-check">
              Compass deviation card<span class="right-side">CHECKED</span>
            </li>
          </ul>
          <h5 class="list-item">
            Display Controller Unit<span class="right-side">SET</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              BARO SET<span class="right-side">IN</span>
            </li>
            <li class="item-to-check">
              HSI<span class="right-side">COMPASS OR ARC</span>
            </li>
            <li class="item-to-check">
              BRG<span class="right-side">ON or OFF</span>
            </li>
          </ul>
          <h5 class="list-item">
            GLARESHIELD Lights Control Panel
            <span class="right-side">AS REQUIRED</span>
          </h5>
          <h5 class="list-item">
            REVERSIONARY PANEL <span class="right-side">SET</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              DISPLAYS Selector <span class="right-side">AUTO</span>
            </li>
            <li class="item-to-check">
              SENSORS Selectors (ADS/IRS)
              <span class="right-side">Pushed Out</span>
            </li>
          </ul>
          <h5 class="list-item">
            PFD <span class="right-side">NO FLAGS</span>
          </h5>
          <h5 class="list-item">MFD<span class="right-side">SET</span></h5>
          <ul class="item-list">
            <li class="item-to-check">
              Hydraulic Synoptic Page<span class="right-side">Check</span>
            </li>
          </ul>
          <ul class="item-list">
            <p class="small-note">
              Verify hydraulic fluid temp, qty, and pressure by turning HYD SYS
              1, 2, & 3A ON.
            </p>
            <p class="small-note">
              Perform Hydraulic warm-up when reservoir temperature is below -18c
            </p>
            <p class="small-note">Perform H-PBIT when required.</p>
          </ul>
          <ul class="item-list">
            <li class="item-to-check">
              Status Page<span class="right-side">Check</span>
            </li>
          </ul>
          <ul class="item-list">
            <p class="small-note">Verify:</p>
            <li class="item-to-check">Hydraulic brake accumulator pressure</li>
            <li class="item-to-check">Oil quantities</li>
            <li class="item-to-check">
              Oxygen pressure: Green for 3, cyan for 2, amber for servicing
            </li>
            <li class="item-to-check">
              MFD OPTIONS<span class="right-side">SET</span>
            </li>
          </ul>

          <h5 class="list-item">
            IESS<span class="right-side">CHECKED AND SET</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              Attitude<span class="right-side">COMPARE WITH PFD</span>
            </li>
            <li class="item-to-check">
              Altimeter<span class="right-side">SET, IF KNOWN</span>
            </li>
            <li class="item-to-check">
              ALT or SPD Flags<span class="right-side">NONE DISPLAYED</span>
            </li>
            <li class="item-to-check">VSI<span class="right-side">0</span></li>
          </ul>
          <h5 class="list-item">
            Autobrake<span class="right-side">OFF</span>
          </h5>
          <h5 class="list-item">
            GRD PROX TERR INHIB<span class="right-side">OUT</span>
          </h5>
          <h5 class="list-item">
            EMERG / PRKG BRAKE LIGHT<span class="right-side">CHECKED</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              ON light indicates brakes are applied.
            </li>
          </ul>
          <h5 class="list-item">
            EICAS<span class="right-side">CHECKED</span>
          </h5>
          <li class="item-to-check">
            Verify all displayed EICAS messages are normal for the current
            operational aircraft config.
          </li>
          <h5 class="list-item">Clock<span class="right-side">Set</span></h5>
          <ul class="item-list">
            <li class="item-to-check">
              GPS/INT/SET Selector<span class="right-side">GPS</span>
            </li>
            <li class="item-to-check">
              If dashes displayed - GPS/INT/SET Selector<span class="right-side"
                >SET</span
              >
            </li>
            <li class="item-to-check">
              Enter the correct time - GPS/INT/SET Selector<span
                class="right-side"
                >INT</span
              >
            </li>
          </ul>
          <h5 class="list-item">
            Landing gear lever<span class="right-side">DOWN</span>
          </h5>
          <h5 class="list-item">ELT<span class="right-side">ARM</span></h5>
          <h5 class="list-item">
            GRD PROX G/S INHIB<span class="right-side">OUT</span>
          </h5>
          <h5 class="list-item">
            LG WARN INHIB<span class="right-side">GUARDED</span>
          </h5>
          <h5 class="list-item">
            FLIGHT CONTROLS MODE<span class="right-side">CHECKED</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              ELEVATORS<span class="right-side">GUARDED</span>
            </li>
            <li class="item-to-check">
              RUDDERS<span class="right-side">GUARDED</span>
            </li>
            <li class="item-to-check">
              SPOILERS<span class="right-side">GUARDED</span>
            </li>
          </ul>
          <h5 class="list-item">
            STALL WARNING<span class="right-side">CHECKED</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              SHAKER 1 CUTOUT<span class="right-side">OUT</span>
            </li>
            <li class="item-to-check">
              SHAKER 2 CUTOUT<span class="right-side">OUT</span>
            </li>
          </ul>
          <h5 class="list-item">
            POWERPLANT<span class="right-side">CHECKED</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              START/STOP 1 SELECTOR
              <span class="right-side">GUARDED/STOP</span>
            </li>
            <li class="item-to-check">
              START/STOP 2 SELECTOR
              <span class="right-side">GUARDED/STOP</span>
            </li>
            <li class="item-to-check">
              IGNITION 1 SELECTOR
              <span class="right-side">AUTO</span>
            </li>
            <li class="item-to-check">
              IGNITION 2 SELECTOR
              <span class="right-side">AUTO</span>
            </li>
          </ul>
          <h5 class="list-item">
            EICAS FULL<span class="right-side">OUT</span>
          </h5>
          <h5 class="list-item">
            Speed Brake Lever<span class="right-side">CLOSE</span>
          </h5>
          <h5 class="list-item">
            Thrust Levers<span class="right-side">IDLE</span>
          </h5>
          <h5 class="list-item">
            RAT MANUAL DEPLOY Handle<span class="right-side">STOWED</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              Cover<span class="right-side">FLUSH</span>
            </li>
          </ul>
          <h5 class="list-item">
            PARKING BRAKE HANDLE<span class="right-side">ON or OFF</span>
          </h5>
          <h5 class="list-item">
            O2 Mask, Reg, and Audio Panel<span class="right-side">CHECKED</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              MIC Button<span class="right-side">Push In (AUTO)</span>
            </li>
            <li class="item-to-check">
              SPKR<span class="right-side">OFF</span>
            </li>
            <li class="item-to-check">
              Reg Control Knob<span class="right-side">100%</span>
            </li>
            <li class="item-to-check">
              TEST/RESET Button<span class="right-side">PRESS AND HOLD</span>
            </li>
            <ul class="item-list">
              <li class="item-to-check">
                -Verify a short illumination or "blink" of the flow indicator
              </li>
              <li class="item-to-check">
                -Verify audible oxygen flow in the headset or loudspeakers
              </li>
              <li class="item-to-check">
                -Once the mask fully pressurizes the indicator must go out,
                showing the sys is leak free.
              </li>
              <li class="item-to-check">-Release the TEST/RESET button</li>
            </ul>
          </ul>
          <h5 class="list-item">
            GRD PROX FLAP OVRD<span class="right-side">Guarded</span>
          </h5>
          <h5 class="list-item">
            SLAT/FLAP LEVER<span class="right-side">0</span>
          </h5>
          <h5 class="list-item">TRIM<span class="right-side">CHECKED</span></h5>
          <ul class="item-list">
            <li class="item-to-check">
              SYS 1 CUTOUT<span class="right-side">GUARDED</span>
            </li>
            <li class="item-to-check">
              SYS 2 CUTOUT<span class="right-side">GUARDED</span>
            </li>
            <li class="item-to-check">
              Verify roll, yaw, and pitch (CA, FO, backup) trims are operating
              properly both directions. Verify system's 3-second protection is
              working properly. Adjust yaw and roll trim to the neutral position
              and pitch trim to the green band.
            </li>
            <li class="item-to-check">
              <span style="color: rgb(136, 136, 13); font-size: 1.2rem"
                >&#9888;</span
              >
              <u>CAUTION:</u>When only one half of the trim switch is
              erroneously actuated for more than seven seconds, that switch is
              automatically deactivated, an aural warning "TRIM" is activated
              for six seconds and an advisory message on the EICAS is observed
              requiring mx action to clear.
            </li>
          </ul>
          <h5 class="list-item">
            PA BUTTON<span class="right-side">CHECKED</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              Verify functionality of the PA system.
            </li>
          </ul>
          <h5 class="list-item">
            ELEVATOR DISCONNECT<span class="right-side">IN and NO EICAS</span>
          </h5>
          <h5 class="list-item">
            AILERON DISCONNECT<span class="right-side">IN and NO EICAS</span>
          </h5>
          <h5 class="list-item">
            COCKPIT DOOR CONTROL<span class="right-side">CHECKED</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              LOCK<span class="right-side">GUARDED</span>
            </li>
            <ul class="item-list">
              <li class="item-to-check">-Close the flight deck door</li>
              <li class="item-to-check">-Press and hold the TEST button</li>
              <li class="item-to-check">
                -Check the alarm and UNLOCKED indication ON
              </li>
              <li class="item-to-check">
                -Push in the LOCK button and check electromechanical latch
                normal ops
              </li>
              <li class="item-to-check">
                -Press the EMERG ENTRY pushbutton on the door control panel in
                the passenger cabin. Check the UNLOCKED indication is flashing
                and check normal operation of the alarm sequence according to
                the system logic.
              </li>
              <li class="item-to-check">-Push out the LOCK button</li>
            </ul>
          </ul>
          <h5 class="list-item">Alarm Sequence</h5>
          <p class="small-note"></p>
        </article>
      </div>
      <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
        <article class="tile is-child box">
          <p class="title">Before Start Flow</p>
          <hr />
          <h5 class="list-item">
            PARKING BRAKE ON<span class="right-side">ON</span>
          </h5>
          <p class="small-note">Verify parking brake light is illuminated</p>
          <h5 class="list-item">
            CREW O2<span class="right-side">CHECK</span>
          </h5>
          <ul class="item-list">
            <p class="small-note">
              Check mask flow before each flight. Check O2 qty. on MFD status.
            </p>
            <li class="item-to-check">Green for three crewmembers</li>
            <li class="item-to-check">Cyan for two crewmembers</li>
            <li class="item-to-check">Amber requires service</li>
          </ul>
          <h5 class="list-item">PFD<span class="right-side">CHECK</span></h5>
          <ul class="item-list">
            <li class="item-to-check">FMA: Clear</li>
            <li class="item-to-check">Airspeed Tape: No speed indicated</li>
            <li class="item-to-check">EADI: Level and no flags</li>
            <li class="item-to-check">ALT SEL: Confirm initial altitude</li>
            <li class="item-to-check">VSI: Near 0</li>
            <li class="item-to-check">Heading Bug: Set to heading of runway</li>
            <li class="item-to-check">HSI: Dep course and NAV source</li>
          </ul>
          <h5 class="list-item">MFD<span class="right-side">CHECK</span></h5>
          <ul class="item-list">
            Check green:
            <li class="item-to-check">Engine Oil Level</li>
            <li class="item-to-check">Emer Brake Accumulator Level</li>
            <p class="small-note">
              Set/Verify MFD options: Radar, TCAS, Navaids, Terrain, Waypoints,
              etc.
            </p>
          </ul>
          <h5 class="list-item">EICAS<span class="right-side">CHECK</span></h5>
          <ul class="item-list">
            <p class="small-note">
              Compare release fuel to fuel on board and verify within balance.
            </p>
          </ul>
          <h5 class="list-item">
            FSTN BELTS Sign<span class="right-side">ON</span>
          </h5>
        </article>
      </div>
      <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
        <article class="tile is-child box">
          <p class="title">Engine Start Flow</p>
          <hr />
          <h5 class="list-item">
            SEATBELTS/HARNESSES<span class="right-side">ON</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              Ensure seatbelts and shoulder harnesses are secured, rudder pedals
              and seat are properly adjusted. If the jumpseat is occupied,
              ensure the ACMs seat belt and shoulder harness are secured.
            </li>
          </ul>
          <h5 class="list-item">
            AUTOBRAKE<span class="right-side">RTO</span>
          </h5>
          <h5 class="list-item">
            STERILE SIGN<span class="right-side">ON</span>
          </h5>
          <h5 class="list-item">
            DOORS/WINDOWS<span class="right-side">CLOSED&LOCKED</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              Verify the window is closed and locked, the flight deck door is
              closed and locked, the cockpit door control unlocked light is out
              and all doors show green on the status page.
            </li>
          </ul>
          <h5 class="list-item">
            PARKING BRAKE<span class="right-side">As Req</span>
          </h5>
          <ul class="item-list">
            <li class="item-to-check">
              DO NOT release parking brake without verification from the ground
              crew.
            </li>
          </ul>
          <h5 class="list-item">STEERING<span class="right-side">OFF</span></h5>
          <ul class="item-list">
            <li class="item-to-check">
              Verify the STEER OFF message is shown on the EICAS
            </li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>
<script src="js/flows.js"></script>
