<section class="section">
  <div class="container">
    <h1 class="title">Fuel Planning</h1>
    <button class="button" id="regenerateBtn">Regenerate Scenario</button>

    <table class="table is-bordered is-striped is-hoverable">
      <tbody>
        <tr>
          <td>You are flying along and have</td>
          <td>
            <span id="miles" class="highlight"></span> miles to go to your
            destination.
          </td>
        </tr>
        <tr>
          <td>Your groundspeed is</td>
          <td><span id="groundSpeed" class="highlight"></span> knots.</td>
        </tr>
        <tr>
          <td>Your fuel flow per hour is</td>
          <td><span id="fuelFlow" class="highlight"></span> lbs/hour.</td>
        </tr>
        <tr>
          <td>Your alternate fuel is</td>
          <td><span id="alternateFuel" class="highlight"></span> lbs.</td>
        </tr>
        <tr>
          <td>Your reserve fuel is</td>
          <td><span id="reserveFuel" class="highlight"></span> lbs.</td>
        </tr>
        <tr>
          <td>Your fuel on board is</td>
          <td><span id="fuelOnBoard" class="highlight"></span> lbs.</td>
        </tr>
      </tbody>
    </table>
    <p>You are asked to do a present position hold.</p>
    <p>How much holding fuel and time do you have?</p>

    <button class="button is-primary" id="revealBtn">Reveal Answers</button>

    <div class="scenario-data is-hidden">
      <h2 class="subtitle">Scenario Data:</h2>
      <table class="table is-bordered is-striped is-hoverable">
        <tbody>
          <tr>
            <td>Time to destination:</td>
            <td>
              <span id="timeToDestination" class="highlight"></span>
            </td>
          </tr>
          <tr>
            <td>Fuel to destination:</td>
            <td>
              <span id="fuelToDestination" class="highlight"></span> pounds
            </td>
          </tr>
          <tr>
            <td>Total Fuel:</td>
            <td><span id="totalFuel" class="highlight"></span> pounds</td>
          </tr>
          <tr>
            <td>Holding Fuel:</td>
            <td><span id="holdingFuel" class="highlight"></span> pounds</td>
          </tr>
          <tr>
            <td>Holding Time:</td>
            <td><span id="holdingTime" class="highlight"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<script src="/js/fuel.js"></script>
