<%- include('partials/header', {title: 'Upgrade Study App',
style:'../css/main.css'}) %>

<section class="hero is-fullheight-with-navbar hero-custom">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
        <div class="column is-12">
          <h1 class="title is-1">Upgrade Study App</h1>
          <p class="subtitle">The app that will help you ace your upgrade</p>
          <p class="mb-0">Developed By: Andrew Butler</p>
          <br />
          <hr class="divider" />
          <p class="mb-0">Version 1.0.0 | Released 4.9.23</p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer footer-fixed">
  <div class="content has-text-centered">
    <p>
      <!-- <strong>Upgrade Study App</strong> by Andrew Butler. The source code is
      licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. -->
      <%- include('partials/footer') %>
    </p>
  </div>
</footer>
