<%- include('partials/header', {title: "Captain's Climb",
style:'../css/main.css'}) %>

<div id="page-wrapper">
  <section class="hero is-fullheight-with-navbar hero-custom">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-vcentered">
          <div class="column is-12">
            <h1 class="title">The Captain's Climb: Scaling Success</h1>
            <br />
            <p class="subtitle">"Ascend to Excellence"</p>

            <br />
            <hr class="divider" />
            <p class="mb-0">Version 1.1.0 | Released 4.25.23</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
