<div id="page-wrapper">
  <section class="hero is-fullheight-with-navbar hero-custom">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-vcentered">
          <div class="column is-12">
            <!-- <h1 class="title">Upgrade Me: Scaling Success</h1> -->
            <img
              src="/images/logo2.png"
              alt=""
              style="width: 80%; height: 70%; margin-bottom: 20px"
            />

            <br />
            <hr class="divider" />
            <p class="mb-0">Version 1.1.0 | Released 4.25.23</p>
            <p class="mb-0">Copyright 2023</p>
            <div class="container legal-container">
              <p class="mb-0 legal">
                <strong class="bold">Legal Disclaimer:</strong>The information
                on Upgrademe.pro is for general purposes only and provided in
                good faith, but we make no guarantee regarding its accuracy,
                reliability, or completeness. It should not be considered
                professional advice or recommendations from official sources.
                Users are responsible for verifying the information's accuracy
                before relying on it. We are not liable for any loss or damage
                resulting from the use of the site or its information. Your use
                of the site is at your own risk, and you agree to these terms
                and conditions. The information provided on the site is for
                personal use only and should not be considered from an official
                source.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
