<%- include('partials/header', {title: 'Upgrade Journey',
style:'../css/main.css'}) %>

<div id="page-wrapper">
  <section class="hero is-fullheight-with-navbar hero-custom">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-vcentered">
          <div class="column is-12">
            <h1 class="title is-1">Captain's Upgrade Journey</h1>
            <br />
            <p class="subtitle">
              Navigating to Success with Your Personal Upgrade Companion!
            </p>
            <p class="mb-0">Developed By: Andrew Butler</p>
            <br />
            <hr class="divider" />
            <p class="mb-0">Version 1.0.0 | Released 4.9.23</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include('partials/footer') %>
