<%- include('partials/header', {title: 'Upgrade Study App', styles: 'css/home.css'}) %>
    <div class="dark-overlay"></div>
    <main class="container-fluid mt-5 main-content">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6 text-center">
          <h1 class="display-1">Upgrade Study App</h1>
          <p class="lead">Get Ready For That Upgrade!</p>
        </div>
      </div>
      <hr />
      <div class="row justify-content-center align-items-center mt-5">
        <div class="col-12 col-md-6 text-center">
          <h2 class="mb-4">
            The app that will help you get ready for your upgrade class.
          </h2>
          <p class="lead">Developed by:</p>
        </div>
      </div>
    </main>
    <footer><%- include('partials/footer') %></footer>
    
  </body>
</html>
