<%- include('./partials/header', {title: 'Login', style: '../css/login.css'}) %>
<style>
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box {
    width: 100%;
    max-width: 400px;
  }
  .title {
    text-align: center;
  }
</style>

<div class="container">
  <div class="box">
    <h1 class="title is-2">Login</h1>

    <form action="/login" method="post">
      <div class="field">
        <label for="username" class="label">Username:</label>
        <div class="control">
          <input
            type="text"
            id="username"
            name="username"
            required
            class="input"
            autocomplete="off"
          />
        </div>
      </div>
      <div class="field">
        <label for="password" class="label">Password:</label>
        <div class="control">
          <input
            type="password"
            id="password"
            name="password"
            required
            class="input"
            autocomplete="off"
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button type="submit" class="button is-fullwidth has-text-white">
            Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<%- include('./partials/footer', {footerAttributes: {class: 'footer'}}) %>
