<%- include('./partials/header', {title: 'Notes', style: '../css/new-note.css'})
%>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title">Create Note</h1>
        <form action="/notes/create" method="POST">
          <div class="field">
            <label class="label" for="title">Title:</label>
            <div class="control">
              <input
                class="input"
                type="text"
                id="title"
                name="title"
                required
              />
            </div>
          </div>

          <!-- Replace the textarea with a div with a unique id -->
          <div class="field">
            <label class="label" for="content">Content:</label>
            <div class="control">
              <div id="quill-editor"></div>
              <input type="hidden" id="content" name="content" required />
            </div>
          </div>

          <div class="field">
            <div class="control">
              <button
                id="save-note-btn"
                class="button"
                style="background-color: #ee6c4d"
                type="submit"
              >
                Save Note
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<script>
  const quill = new Quill("#quill-editor", {
    theme: "snow",
  });

  const form = document.querySelector("form");
  const contentInput = document.querySelector("#content");

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    contentInput.value = quill.root.innerHTML;
    form.submit();
  });
</script>

<%- include('./partials/footer') %>
