<%- include('partials/header', {title: 'Quiz Time!', styles: 'css/quiz.css'}) %>

    <h1 class="text-center mt-5">Quiz Time!</h1>
    <div class="container">
      <div class="checkbox-container">
        <label for="showAnswersCheckbox">Always show answers</label>
        <input type="checkbox" id="showAnswersCheckbox" />
      </div>
      <div class="checkbox-container">
        <label for="randomizeCheckbox">Randomize questions</label>
        <input type="checkbox" id="randomizeCheckbox" />
      </div>

      <div class="card mx-auto">
        <img
          src="https://plus.unsplash.com/premium_photo-1661963559290-2d8c4cb2b33e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <% if(questions.length === 0) { %>
          <h5>No questions to display</h5>
          <h5>No answers to display</h5>
          <% } else { %>
          <h5 id="question" class="card-title"></h5>
          <hr />
          <div class="answer-wrapper">
            <p id="answer" class="card-text answer">Answer goes here</p>
          </div>

          <% } %>

          <br />
          <div class="btn-container">
            <button class="btn btn-success" id="show-answer">
              Show Answer
            </button>
            <button class="btn btn-primary" id="prev-question">Prev</button>
            <button class="btn btn-primary" id="next-question">Next</button>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <a href="/"
          ><button type="button" class="btn btn-outline-secondary">
            Homepage
          </button></a
        >
      </div>
    </div>
    <footer><%- include('partials/footer') %></footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <script src="js/quiz.js"></script>
  </body>
</html>
