<%- include('partials/header', {title: 'Quiz Time!'}) %>
<div class="dark-overlay"></div>
<div
  class="container-fluid d-flex flex-column justify-content-center min-vh-100"
>
  <h1 class="text-center my-4 display-1">Quiz Time!</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="checkbox-container my-4">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="showAnswersCheckbox"
          />
          <label class="form-check-label text-white" for="showAnswersCheckbox">
            Show Answers
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="randomizeCheckbox"
          />
          <label class="form-check-label text-white" for="randomizeCheckbox">
            Randomize
          </label>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card mx-auto w-xs-90">
        <div class="card-body">
          <h5 id="question" class="card-title text-center"></h5>
          <hr />
          <h6 id="quiz-category"></h6>
          <hr />
          <div class="answer-wrapper">
            <p id="answer" class="card-text text-center answer hide"></p>
          </div>
          <div class="btn-container mt-3">
            <div class="d-flex flex-column flex-md-row justify-content-center">
              <button class="btn-primary" id="show-answer">Show Answer</button>
            </div>
            <div class="d-flex justify-content-center mt-md-0 mt-2">
              <button class="btn-secondary" id="prev-question">Prev</button>
              <button class="btn-secondary" id="next-question">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/quiz.js"></script>
<%-include('./partials/footer') %>
