<%- include('partials/header', {title: 'Quiz Time!', style: './css/quiz.css'})
%>
<h1 class="title is-1 has-text-centered">Quiz Time!</h1>

<div class="container is-max-desktop mt-5">
  <div class="box has-background-primary">
    <div class="has-text-centered">
      <label class="checkbox has-text-white" for="showAnswersCheckbox">
        <input type="checkbox" id="showAnswersCheckbox" />
        Show Answers
      </label>
    </div>
  </div>
  <div class="card">
    <header class="card-header">
      <p id="question" class="card-header-title is-size-4"></p>
    </header>
    <div class="card-content">
      <div class="content">
        <p
          id="answer"
          class="card-text has-text-centered is-size-6 has-text-weight-semibold answer hide"
        ></p>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item" id="prev-question">
        <button class="button is-small is-info is-light">Prev</button>
      </a>
      <a href="#" class="card-footer-item">
        <button id="show-answer" class="button is-medium is-success">
          Show Answer
        </button>
      </a>
      <a href="#" class="card-footer-item" id="next-question">
        <button class="button is-small is-info is-light">Next</button>
      </a>
    </footer>
  </div>
</div>

<script src="js/quiz.js"></script>
<%-include('./partials/footer') %>
