<%- include('./partials/header', {title: 'Register', style: '../css/login.css'})
%>
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5">
          <div class="box">
            <h1 class="title is-1 has-text-centered has-text-black">
              Register
            </h1>
            <form action="/register" method="post">
              <div class="field">
                <label for="firstname" class="label">First Name:</label>
                <div class="control">
                  <input
                    type="text"
                    id="firstname"
                    name="firstname"
                    required
                    class="input"
                    autocomplete="off"
                  />
                </div>
              </div>
              <div class="field">
                <label for="lastname" class="label">Last Name:</label>
                <div class="control">
                  <input
                    type="text"
                    id="lastname"
                    name="lastname"
                    required
                    class="input"
                    autocomplete="off"
                  />
                </div>
              </div>
              <div class="field">
                <label for="email" class="label">Email Address:</label>
                <div class="control">
                  <input
                    type="email"
                    id="email"
                    name="email"
                    required
                    class="input"
                    autocomplete="off"
                  />
                </div>
              </div>

              <div class="field">
                <label for="employeeNumber" class="label"
                  >Current Employee Number:</label
                >
                <div class="control">
                  <input
                    type="text"
                    id="employeeNumber"
                    name="employeeNumber"
                    required
                    class="input"
                    autocomplete="off"
                  />
                </div>
              </div>
              <div class="field">
                <label for="username" class="label">Username:</label>
                <div class="control">
                  <input
                    type="text"
                    id="username"
                    name="username"
                    required
                    class="input"
                    autocomplete="off"
                  />
                </div>
              </div>
              <div class="field">
                <label for="password" class="label">Password:</label>
                <div class="control">
                  <input
                    type="password"
                    id="password"
                    name="password"
                    required
                    class="input"
                    autocomplete="off"
                  />
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <button type="submit" class="button is-primary is-fullwidth">
                    Register
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('./partials/footer') %>
