<div class="container">
  <h1 class="title">Welcome to the weather page.</h1>
  <h2>PAGE IS UNDER CONSTRUCTION!!! DO NOT USE FOR TRAINING!!</h2>
  <h2>Exemption 17347 - Destination Weather</h2>
  <p>Assume ILS minimums of 200' and 1/2sm at KLAX</p>
  <p>
    The following TAF is attached to the release for your flight from KSAN to
    KLAX.
  </p>
  <h3>KLAX Forecast Weather</h3>
  <% weatherData.forEach((data) => { %>
  <div class="weather-info">
    <h4>TAF</h4>
    <p><%= data.taf %></p>
    <button class="button is-small answer-button">Show Answer</button>
    <div class="question">
      <p>Legal to depart?</p>
      <span class="answer-text"></span>
    </div>
    <div class="question">
      <p>Is a 2nd alternate required?</p>
      <span class="answer-text"></span>
    </div>
  </div>
  <% }); %>
</div>

<script src="js/weather.js"></script>
