html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('https://images.unsplash.com/photo-1570710891163-6d3b5c47248b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-position: 30% center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

td {
    font-weight: 700;
    color: #000;
}

.container {
    width: 95%;
    margin: 30px auto;
    padding: 5px;
    border-radius: 4px;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
}

.box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #b8e0d4;
}


.title {
    font-size: 3rem;
    text-align: center;
    color: white;
    margin-bottom: 1.5rem;
}

.control-button {
    background-color: #809bce;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 4px 2px;
    min-width: max-content;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    width: 100%;
}


.control-title {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-weight: 700;

}

.action-btn-group {
    display: flex;
    justify-content: space-around;
}

.edit-btn, .unflag-btn {
    background-color: #009EE2;
    color: #fff;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.edit-btn:hover, .unflag-btn:hover {
    background-color: #007cb2;
}

.table {
    background-color: rgba(208, 238, 238, 0.5);
}

.table.is-mobile-custom {
    table-layout: fixed;
    word-wrap: break-word;
}

thead tr {
    font-size: 1.3rem;
    font-weight: 700;
    background-color: #bdcbd3;
}

.total-questions {
    color: #000;
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 10px auto;
        padding: 2px;
    }

    .table.is-narrow td,
    .table.is-narrow th {
        padding: 0.25rem;
        font-size: 0.6rem;
    }

    th {
        font-size: 0.7rem;
    }

    td {
        font-size: 0.7rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    .table.is-mobile-custom td {
        word-break: break-word;
        white-space: normal;
    }

    .control-button {
        padding: 5px 10px;
        font-size: 0.6rem;
        border-radius: 5px;
        width: 100%;
    }
}