html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(51, 51, 51);
    color: #fff;
}

.title {
    font-size: 1.5rem;
}

.main-item {
    font-size: 0.8rem;
}

.item-description {
    font-size: 0.7rem;
    margin-left: 20px;
}