html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #98c1d9;
}

.section {
    flex: 1;
}

#create-question-btn {
    background-color: #ee6c4d;
    width: 100%;
    color: #fff;
    font-weight: 700;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    background-color: #fff;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
}

h1 {
    font-size: 1.5rem;
}

.table.is-mobile-custom {
    table-layout: fixed;
    word-wrap: break-word;
}

thead tr {
    background-color: #75b3d6;
    font-weight: 700;
    font-size: 1.3rem;
}

@media only screen and (max-width: 768px) {

    .table.is-narrow td,
    .table.is-narrow th {
        padding: 0.25rem;
        font-size: 0.2rem;
    }

    th {
        font-size: 0.8rem;
    }

    td {
        font-size: 0.7rem;
    }

    h1 {
        font-size: 0.5rem;
    }
}