html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-color: #98c1d9; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1506695939086-156c2eff767b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');

}

.section {
    flex: 1;
}

.section h1 {
    color: #fff;
}

.select select option {
    color: #000;
}

.select2 {
    color: #000;
}

#create-question-btn {
    background-color: #ee6c4d;
    width: 100%;
    color: #fff;
    font-weight: 700;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    background-color: #fff;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
}

h1 {
    font-size: 1.5rem;
}

.total-questions {
    color: #000;
}

.table.is-mobile-custom {
    table-layout: fixed;
    word-wrap: break-word;
}

thead tr {
    background-color: #75b3d6;
    font-weight: 700;
    font-size: 1.3rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 300ms ease-in forwards;
}

.fade-out {
    animation: fadeOut 300ms ease-in forwards;
}

@media only screen and (max-width: 768px) {

    .table.is-narrow td,
    .table.is-narrow th {
        padding: 0.25rem;
        font-size: 0.2rem;
    }

    th {
        font-size: 0.8rem;
    }

    td {
        font-size: 0.7rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    .mobile-fullwidth {
        width: 100% !important;
    }
}