html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;

    background-color: rgb(51, 51, 51);
    color: #fff;


}


.document-link {
    color: #3273dc;
    text-decoration: none;
    font-size: 2rem;
}

.document-link:hover {
    color: #363636;
    text-decoration: underline;
}

.title {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

.content {
    margin-bottom: 1.5rem;
}