html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(51, 51, 51);
    color: #fff;
}

body {
    overflow-y: auto;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    /* Increased padding */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(190, 190, 190);
    border: 2px solid #4558ff;
}



#question {
    font-size: 1.2rem;
}

#answer {
    font-size: 1.2rem;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.is-responsive {
    overflow-x: auto;
}

.field {
    margin-bottom: 20px;
    /* Added bottom margin */
}

h1 {
    font-size: 1.5rem;
}

thead tr {
    background-color: #009EE2;
    font-weight: 700;
    font-size: 1.3rem;
}

.title {
    text-align: center;
}

.checkbox {
    color: #000;
    font-size: 0.8rem;
    /* Category label color set to black */
}

.field .control {
    display: flex;
    flex-flow: row wrap;
    /* Categories will be wrapped */
    justify-content: start;
}

@media screen and (max-width: 768px) {
    .small-screen-column-width {
        width: 20vw !important;
    }

    th, td {
        font-size: 0.6rem;
    }

    h1.is-size-1-tablet {
        font-size: 24px;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
    }

    .buttons-container>* {
        margin-bottom: 5px;
    }

    .buttons-container .button {
        width: 100%;
    }

    .category-grid {
        grid-template-columns: repeat(2, 1fr);
    }


    .field .control {
        flex-flow: column wrap;
        /* Categories will stack on smaller screens */
    }
}