html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #98c1d9;

}

.buttons-container .button {
    width: 100%;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    background-color: #fff;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
}

.is-responsive {
    overflow-x: auto;
}

h1 {
    font-size: 1.5rem;
}

.table.is-mobile-custom {
    table-layout: fixed;
    word-wrap: break-word;
}

thead tr {
    background-color: #75b3d6;
    font-weight: 700;
    font-size: 1.3rem;
}

@media only screen and (max-width: 768px) {

    .table.is-narrow td,
    .table.is-narrow th {
        padding: 0.25rem;
        font-size: 0.1rem;
    }

    #questions-category {
        font-size: 0.5rem;
        text-align: center;
        color: #000;
    }

    th {
        font-size: 0.7rem;
    }

    td {
        font-size: 0.6rem;
    }

    h1.is-size-1-tablet {
        font-size: 24px;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
    }

    .buttons-container>* {
        margin-bottom: 5px;
    }
}