body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

form {
    width: 500px;
    margin: 0 auto;
}

label,
input,
select,
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
}

input,
select {
    background-color: #444;
    border: none;
    color: #fff;
}

button {
    background-color: #03a9f4;
    border: none;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0069d9;
}