:root {
    --text-color: #000;
    --background-color: #fff;
}

.dark-mode {
    --text-color: #fff;
    --background-color: #000;
}

html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1570710891163-6d3b5c47248b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-position: 30% center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text-color);
    background-attachment: fixed;
}

.dark-mode-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    margin-left: 20px;
}

#darkModeLabel {
    color: #fff;
    font-size: 1rem;
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ccc;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.2s;
}

.switch label:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.2s;
    border-radius: 50%;
}

.switch input:checked+label {
    background-color: #2196F3;
}

.switch input:focus+label {
    box-shadow: 0 0 1px #2196F3;
}

.switch input:checked+label:before {
    transform: translateX(20px);
}


.box {
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--background-color);
    color: var(--text-color);
    margin-top: 10px;
}

.title {
    color: var(--text-color);
}

.list-item {
    font-size: 1.1rem;
    font-weight: 700;
}

.item-list {
    list-style-type: square;
}

.item-to-check {
    margin-left: 20px;
    font-size: 0.8rem;
}

.right-side {
    float: right;
    font-weight: 600;
}

.small-note {
    font-size: 0.7rem;
}

.small-note-item {
    margin-left: 40px;
    font-size: 0.5rem;
}

.tile.is-child.box {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .columns.is-variable.is-1-mobile.is-0-tablet.is-3-desktop {
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    .column.is-half-mobile.is-half-tablet.is-one-quarter-desktop {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .tile.is-child.box {
        margin-bottom: 20px;
    }
}