html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1506695939086-156c2eff767b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.box {
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.list-item {
    font-size: 1.1rem;
    font-weight: 700;
}

.item-list {
    list-style-type: square;
}

.item-to-check {
    margin-left: 20px;
    font-size: 0.8rem;
}

.right-side {
    float: right;
    font-weight: 600;
}

.small-note {
    font-size: 0.7rem;
}

.small-note-item {
    margin-left: 40px;
    font-size: 0.5rem;
}

.tile.is-child.box {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .columns.is-variable.is-1-mobile.is-0-tablet.is-3-desktop {
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    .column.is-half-mobile.is-half-tablet.is-one-quarter-desktop {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .tile.is-child.box {
        margin-bottom: 20px;
    }
}