html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://images.unsplash.com/photo-1517260468809-807bfd11d968?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.main-content {
    height: 100vh;
    color: #fff;
    flex: 1;
    z-index: 1;
    position: relative;
    padding-top: 70px;
}

/* 


header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
}

header h1 {
    font-size: 24px;
    margin: 0;
    width: 100%;
}

nav a.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

nav .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .navbar-nav li {
    margin-right: 10px;
}

nav .navbar-nav li a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

nav .navbar-nav li a:hover {
    color: #f44336;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

main p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
} */