body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.main-content {
    height: 100vh;
    color: #fff;
    flex: 1;
    z-index: 1;
    position: relative;
    padding-top: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}



.lead {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.mb-4 {
    margin-bottom: 1.1rem;
}

.main-content hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}