html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1506695939086-156c2eff767b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100%;
    min-width: 400px;
}

.title {
    text-align: center;
}

.brand {
    color: #fff;
    font-weight: 900;
}

input[type=text],
input[type=password] {
    box-shadow: none;
}

.button.is-fullwidth {
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 7px;
    background-color: #009EE2;
}

.button.is-fullwidth:hover {
    color: #000;
    background-color: #008fcc;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 2rem;
    }

    .box {
        width: 90%;
        max-width: 755px;
    }

}