html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1506695939086-156c2eff767b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.navbar-link {
    font-size: 1rem;
    font-weight: 400;
    padding-left: 10px;
}

#flashcard-btn {
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color: #009EE2;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    height: 35px;
    margin-left: 10px;
}

.navbar-start a {
    font-size: 0.7rem;
    font-weight: 400;
    padding-left: 10px;
}

.navbar-item {
    font-size: 1rem;
    font-weight: bold;

}

.navbar-item ul {
    list-style-type: none;
    padding: 0;
}

.navbar-item li a {
    font-size: 1rem;
    font-weight: 400;
    padding-left: 10px;
}

.divider {
    background-color: #009EE2;

}

.bold {
    color: #fff;
    font-weight: 900;
}

.legal-container {
    width: 80%;
}

.legal {
    font-size: 0.5rem;
    margin-top: 10px;

}