.navbar {
    background-color: transparent;
    width: 100%;
    z-index: 1000;
    color: #fff;
}

.navbar-item,
.navbar-link,
.navbar-start a {
    color: #fff !important;
}

.navbar-item h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff !important;
}

.navbar-item ul,
.navbar-item li a {
    color: #fff !important;
}

.navbar-item ul li {
    padding-left: 1em;
}

.navbar-dropdown {
    background-color: #000;
}

.navbar-item.has-dropdown.is-hoverable:hover .navbar-link,
.navbar-item.has-dropdown.is-hoverable:focus .navbar-link,
.navbar-item.has-dropdown.is-hoverable:hover .navbar-dropdown,
.navbar-item.has-dropdown.is-hoverable:focus .navbar-dropdown {
    background-color: rgb(80, 80, 80);
}

.navbar-link:hover,
.navbar-link:focus,
.navbar-item:hover,
.navbar-item:focus,
.navbar-item a:hover,
.navbar-item a:focus {
    background-color: transparent !important;
    color: #fff !important;
}

#register-btn {
    background-color: #009EE2;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
    border: 1px solid #d1d1d1;

}

#login-btn {
    color: #009EE2;
    background-color: transparent;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid #d1d1d1;
}

#register-btn:hover {
    color: #009EE2;
    background-color: transparent;
    transition: 0.2s ease-in-out;

}

#login-btn:hover {
    color: #fff;
    background-color: #009EE2;
    transition: 0.2s ease-in-out;

}