html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1570710891163-6d3b5c47248b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-position: 30% center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;

}

.column {
    box-sizing: border-box;
    max-width: 600px;
    padding: 20px;
    width: 100%;
}

.title, .field label {
    color: #fff;
}

.control {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#quill-editor {
    background-color: #fff;
    min-height: 300px;
}

.ql-toolbar {
    background-color: #fff;
    font-size: 0.4rem;
}

#save-note-btn {
    background-color: #009EE2;
    border: none;
    color: #000;
    font-size: 1.3rem;
    font-weight: 700;
    width: 100%;
}