html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: rgb(51, 51, 51);

}

.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    /* subtract the height of the navbar if it's fixed */
}

.columns {
    max-width: 100%;
}

.column {
    box-sizing: border-box;
    max-width: 600px;
    padding: 20px;
    width: 100%;
}

.title, .field label {
    color: #fff;
}

.control {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#quill-editor {
    background-color: #fff;
    min-height: 300px;
}

.ql-toolbar {
    background-color: #fff;
    font-size: 0.4rem;
}

#save-note-btn {
    background-color: #009EE2;
    border: none;
    color: #000;
    font-size: 1.3rem;
    font-weight: 700;
    width: 100%;
}