.card-text.answer.hide {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.card-text.answer.show {
    opacity: 1;
    max-height: 1000px;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}


.card-text.answer {
    min-height: 225px;

}

.card-header-title {
    min-height: 120px;
    text-align: center;
}

.card {
    margin: 1rem;
}

@media (min-width: 769px) {
    .card {
        margin: 0;
    }
}