html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1506695939086-156c2eff767b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    max-width: 95%;
}

.content {
    font-size: 0.8rem;

}

.title {
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: #fff !important;
}

.question-container {
    min-height: 130px;
}

#question {
    text-align: justify;
}

#category {
    font-size: 0.6rem;
}

.answer-content {
    min-height: 160px;
    border: 1px solid gray;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
    width: 100%;

}

.card-header-title {
    font-size: 1.25rem;
    font-weight: bold;
    min-height: 180px;
    border: 1px solid gray;
    margin: 5px;
}

.card-text.answer.hide,
.card-text.answer.show {
    transition: opacity 0.3s ease, max-height 0.3s ease;
    -webkit-transition: opacity 0.3s ease, max-height 0.3s ease;
    -moz-transition: opacity 0.3s ease, max-height 0.3s ease;
    -ms-transition: opacity 0.3s ease, max-height 0.3s ease;
    -o-transition: opacity 0.3s ease, max-height 0.3s ease;
}

.card-text.answer.hide {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.card-text.answer.show {
    opacity: 1;
    max-height: 1000px;
}

.label {
    color: #fff !important;
}

.nav-btn,
.answer-btn {
    background-color: #ee6c4d;
    color: #ffffff;
    font-weight: bold;
    flex: 1;
    margin: 0 5px;
    text-align: center;
    font-size: 0.8rem;
}

.nav-btn:hover,
.answer-btn:hover {
    background-color: #ea5a3b;
    color: #ffffff;
}

.btn-box {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.select2 {
    width: 100%;


}

.progress-container {
    width: 50%;
    height: 20px;
    background-color: none;
    margin-bottom: 25px;
    margin: 0 auto;

    position: relative;

}

.progress-percentage {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8rem;
}

.progress-start {
    left: 0;
    font-size: 1.1rem;
    font-weight: 900;
}

.progress-end {
    right: 0;
    font-size: 1.1rem;
    font-weight: 900;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #169227;
    transition: width 0.5s;
    font-size: 2rem;
}

#question-count {
    color: #fff;
    font-size: 1.5rem;
}