html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1506695939086-156c2eff767b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
    background-position: center center;
    background-repeat: repeat-y;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 95%;
    min-height: 100vh;
}

.content {
    font-size: 0.8rem;
}

.title {
    margin: 2rem 0 1rem;
    color: #fff !important;

}

.content-container {
    /*Display stuff*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*Box model stuff*/
    width: 100%;
    height: 180px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 7px;
    background: none;
    /*Typography stuff*/
    text-align: justify;
    /*Miscellaneous*/
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-sizing: border-box;
}

#answer {
    font-weight: 700;
    color: #000;
}

#category {
    font-size: 0.8rem;
    color: #fff;
}

#last-seen {
    /*Box model stuff*/
    margin-left: 10px;
    /*Typography stuff*/
    font-size: 0.5rem;
    color: rgba(37, 104, 251, 1);
}

.card {

    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 100%;
}

.card-header-title {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: justify;
}

.card-text.answer.hide,
.card-text.answer.show {
    transition: opacity 0.3s ease, max-height 0.3s ease;
    -webkit-transition: opacity 0.3s ease, max-height 0.3s ease;
    -moz-transition: opacity 0.3s ease, max-height 0.3s ease;
    -ms-transition: opacity 0.3s ease, max-height 0.3s ease;
    -o-transition: opacity 0.3s ease, max-height 0.3s ease;
}

.card-text.answer.hide {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.card-text.answer.show {
    opacity: 1;
    max-height: 1000px;
}

.label {
    color: #fff !important;
}

.btn-box {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.progress-container {
    width: 50%;
    height: 25px;
    margin: 0 auto 25px;
    position: relative;

    background-color: #f3f3f3;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.progress-percentage {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8rem;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.progress-start {
    left: 0;
    font-size: 1.1rem;
    font-weight: 900;
}

.progress-end {
    right: 0;
    font-size: 1.1rem;
    font-weight: 900;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: rgba(37, 104, 251, 0.5);

    transition: width 0.5s;
    font-size: 2rem;
}

#question-count {
    color: #fff;
    font-size: 1.5rem;
}

#question {
    color: #000;
    font-weight: 700;
}

.hidden-checkbox {
    display: none;
}

.custom-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    font-size: 0.8rem;
    color: #000;
    margin: 10px;
    margin-top: -20px;
}

.styled-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #444;
    border: 2px solid #fff;
    border-radius: 3px;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}

.styled-checkbox:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.hidden-checkbox:checked~.styled-checkbox {
    background-color: #2568fb;

}

.hidden-checkbox:checked~.styled-checkbox:after {
    display: block;
}

.full-width-select {
    width: 100%;
}

.card,
.box {
    background-color: rgba(255, 255, 255, 0.5) !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

#prev-question, #next-question {
    background-color: rgba(0, 128, 0, 0.8);
    color: #ffffff;
    border: 1px solid white;
    font-weight: 700;
    font-size: 1.2rem;
}

.answer-container {
    padding: 7px;
    min-height: 180px;
}

/* Buttons */
.button-container {
    align-items: center;
    justify-content: space-evenly;
}

#submit-rating {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #2568fb;
    font-weight: 700;
    font-size: 0.8rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    height: 1.9rem;
    transition: all 0.3s;
}

#flag-for-review {
    background-color: transparent;
    color: #fff;
    border: 2px solid #ff3860;
    font-weight: 700;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    height: 1.9rem;
    transition: all 0.3s;
}



#show-answer {
    background-color: #2568fb;
    color: #ffffff;
    border: none;
    font-weight: 700;
    font-size: 1.2rem;
}

.select2 {
    width: 100%;
}

.difficulty-rating {
    text-align: center;
    margin-top: 1rem;
}

.rating {
    display: inline-flex;
    cursor: pointer;
    margin: 0.8rem;
}

.rating .fa-star {
    font-size: 1.2rem;
}

.rating span {
    font-size: 2rem;
    color: rgba(211, 211, 211, 0.3);
    padding: 0 0.25rem;
}


.rating span.selected {
    color: gold;
    -webkit-text-stroke: 0px;
}

/* .notification {
    background-color: #f5f5f5;
    border-radius: 4px;

    position: relative;
    margin-top: 0.5rem;
    color: #4a4a4a;
} */


/* .notification.success {
    background-color: rgba(35, 209, 96, 0.6);
    color: #000;
    font-weight: 700;
    margin-top: 10px;
    border-radius: 10px;
    -webkit-border-radius: 30%;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
} */

.is-hidden {
    display: none;
}


@media screen and (max-width: 768px) {
    .container {
        height: auto;
        min-height: 100vh;
        width: 90%;
        margin: 0 auto;
    }

    .main-wrapper {
        height: auto;
        min-height: 100vh;
    }



}



/* .flag-for-review-container {
    position: relative;
    margin-top: 15px;
}


#flag-for-review:hover {
    background-color: #ff3860;
    color: #ffffff;
} */

/* .flag-for-review-container::before,
.flag-for-review-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ff3860;
    transition: all 0.3s;
}

.flag-for-review-container::before {
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
}

.flag-for-review-container::after {
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
}

#flag-for-review:hover~.flag-for-review-container::before,
#flag-for-review:hover~.flag-for-review-container::after {
    transform: scaleX(1);
} */