html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    background-image: url("https://images.unsplash.com/photo-1517260468809-807bfd11d968?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.title {
    color: #fff;
}

.card {
    max-width: 50%;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    min-height: 100px;
}


.main {
    flex: 1 0 auto;
}

.card-text {
    font-size: 1.5rem;
}

.card-body {
    max-height: 70vh;
    overflow-y: auto;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

.answer-wrapper {
    margin-bottom: 2rem;
    min-height: 150px;
}

.form-check-input {
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.form-check-label {
    font-size: 1.5rem;
}


footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    flex-shrink: 0;
}

.navbar {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
}

.navbar-brand {
    font-size: 1.2rem;
}

.nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.display-1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #fff;
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 10px;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
}

table th,
table td {
    padding: 5px;
    border: 1px solid #000;
    text-align: left;
}

table th {
    background-color: #969696;
}

table td {
    background-color: #969696;

}

.delete-btn, .edit-btn, .btn {
    /*margin-right: 20px;
    */
    width: 100px;
    background-color: #008080 !important;
    font-size: 1.2rem;
    color: white !important;
    padding: 10px 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    text-decoration: none;
    cursor: pointer;
}





.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Bootstrap styles */

.form-group {
    margin-bottom: 1rem;
}

.form-check-input {
    position: absolute;
    margin-top: 0.25rem;
    margin-left: -1.25rem;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.checkbox-container {
    height: auto;
    border: 1px solid gray;
    border-radius: 7px;
    margin-left: 20px;
    width: 90%;
    padding: 5px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.form-check-label {
    /* margin-left: 1.5rem; */
    color: #fff;
}

.form-group label {
    font-weight: bold;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.form-check-label {
    font-weight: normal;
}

@media (max-width: 576px) {
    .navbar {
        font-size: 0.9rem;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }

    .lead {
        font-size: 1.2rem;
    }

    .display-1 {
        font-size: 3rem;
    }

    .form-check-input {
        position: static;
        margin-top: 0.5rem;
        margin-left: 0;
    }

    .form-check-label {
        margin-left: 2rem;
    }
}

@media (max-width: 767px) {
    table {
        display: block;
    }

    table thead,
    table tbody,
    table tr,
    table td,
    table th {
        display: block;
    }

    table td {
        border: none;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td .actions {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .card {
        min-width: 90%;
        min-height: 250px;
    }

    .btn-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .btn-container .btn {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .btn-container .btn:last-child {
        margin-bottom: 0;
    }

    .btn-container .btn-success {
        margin-right: 0;
    }
}