.card-header {
    background-color: #87CBB9;
    color: black;
}

.card-header-title {
    font-size: 1.5rem;
    color: #000;
}

.created-at {
    font-size: 0.6rem;
    color: #4a4a4a;
}

.created-date {
    padding: 3px;
}

#delete-button {
    width: 100%;
    height: 2rem;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}