body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}


.card-header {
    background-color: #87CBB9;
    color: black;
}

.card-header-title {
    font-size: 1.5rem;
    color: #000;
}

.created-at {
    font-size: 0.6rem;
    color: #4a4a4a;
}

.created-date {
    padding: 3px;
}

.delete-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 20px;
    height: 20px;
    background-color: transparent;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 0;
}