html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    background-color: #000;

}

.container {
    min-width: 800px;
    margin: 30px auto;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
}

.title {
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-bottom: 1.5rem;
}

.total-questions {
    color: #000;
}

.table {
    background-color: rgb(208, 238, 238);
}

.table.is-mobile-custom {
    table-layout: fixed;
    word-wrap: break-word;
}

thead tr {
    background-color: #bdcbd3;
    font-weight: 700;
    font-size: 1.3rem;
}

.brand {
    color: #fff;
    font-weight: 900;
}

.footer {
    background-color: transparent;
    padding: 1rem;
}

footer a {
    color: inherit;
}

.footer p {
    font-size: 0.5rem;
    color: #fff;
}

@media only screen and (max-width: 768px) {

    .table.is-narrow td,
    .table.is-narrow th {
        padding: 0.25rem;
        font-size: 0.2rem;
    }

    th {
        font-size: 0.8rem;
    }

    td {
        font-size: 0.7rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    /* .mobile-fullwidth {
        width: 100% !important;
    } */

    .table.is-mobile-custom td {
        word-break: break-word;
        white-space: normal;
    }
}