<%- include('../partials/header', {title: 'Create New Category', style:
'../css/add-categories.css'}) %>

<section class="section">
  <div class="container">
    <h1 class="title">Add a New Category</h1>
    <form action="/categories/create" method="post">
      <div class="field">
        <label class="label" for="name">Category Name:</label>
        <div class="control">
          <input class="input" type="text" id="name" name="name" required />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button" id="add-category-btn" type="submit">
            Add Category
          </button>
        </div>
      </div>
    </form>
  </div>
</section>

<%- include('../partials/footer') %>
