<%- include('../partials/header', {title: 'Create Question'}) %>

<div class="dark-overlay"></div>
<main class="container mt-5 main-content mt-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-6 text-center">
      <h1 class="display-4 mt-5">Add A Question</h1>

      <form
        id="create-question-form"
        method="post"
        enctype="multipart/form-data"
        action="/questions/create"
      >
        <div class="form-group">
          <label
            for="question"
            style="font-size: 1.25rem; margin-bottom: 0.5rem"
            >Question:</label
          >
          <input
            type="text"
            id="question"
            name="question"
            class="form-control"
            required
          />
        </div>

        <!-- ... -->
        <div class="form-group">
          <label
            for="category"
            style="font-size: 1.25rem; margin-bottom: 0.5rem"
            >Category:</label
          >
          <div class="row">
            <div class="col-md-6 text-left">
              <div class="custom-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="category1"
                  name="category"
                  value="limitations"
                />
                <label class="form-check-label" for="category1"
                  >Limitations</label
                >
              </div>
              <div class="custom-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="category2"
                  name="category"
                  value="deice"
                />
                <label class="form-check-label" for="category2">Deice</label>
              </div>
            </div>
            <div class="col-md-6 text-left">
              <div class="custom-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="category3"
                  name="category"
                  value="human-factors"
                />
                <label class="form-check-label" for="category3"
                  >Human Factors</label
                >
              </div>
              <div class="custom-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="category4"
                  name="category"
                  value="memory-items"
                />
                <label class="form-check-label" for="category4"
                  >Memory Items</label
                >
              </div>
            </div>
          </div>
        </div>
        <!-- ... -->

        <div class="form-group">
          <label for="answer" style="font-size: 1.25rem; margin-bottom: 0.5rem"
            >Answer:</label
          >
          <input
            type="text"
            id="answer"
            name="answer"
            class="form-control"
            required
          />
        </div>

        <button
          type="submit"
          class="btn btn-primary mb-5"
          style="margin-top: 1rem"
        >
          Create Question
        </button>
      </form>
    </div>
  </div>
  <script src="../js/createQuestion.js"></script>
  <%- include('../partials/footer') %>
</main>
