<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Questions</title>
  </head>
  <body>
    <h1>Add Question</h1>
    <form action="/questions/create" method="POST">
      <label for="question">Question:</label>
      <input type="text" name="question" required /><br />

      <label for="category">Category:</label>
      <input type="text" name="category" required /><br />

      <label for="answer">Answer:</label>
      <textarea name="answer" rows="4" cols="50"></textarea><br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
